QWidget
{
	background-color: #232430;
	color: #000000;
	border-color: #000000;
}
QLabel
{
	background-color: #232430;
	color: #c1c1c1;
	border-color: #000000;
}
QPushButton
{
	background-color: #ff9c2b;
	color: #000000;
	font-weight: bold;
	border-style: solid;
	border-color: #000000;
	padding: 6px;
}
QPushButton::hover
{
	background-color: #ffaf5d;
}
QPushButton::pressed
{
	background-color: #dd872f;
}