QWidget
{
	background-color: #1a1a1a;
	color: #000000;
}
QLabel
{
	background-color: transparent;
	color: #c2c7d5;
	font-size: 13px;
}
QPushButton
{
	background-color: #ff3333;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	padding: 5px;
}
QPushButton::disabled
{
	background-color: #5c5c5c;
}
QPushButton::pressed
{
	background-color: #ff4747;
}